<svg
  width="16"
  height="16"
  viewBox="0 0 71 55"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Discord</title>
  <path fill="currentColor" d="M60.104 4.552A58.2 58.2 0 0046.852.5a41.13 41.13 0 00-1.917 4.063 52.42 52.42 0 00-14.666 0A41.13 41.13 0 0028.352.5 58.2 58.2 0 0015.048 4.552C4.714 18.586 1.46 31.5 2.628 44.117 16.388 49.37 29.626 49.014 43.502 45.8 57.376 49.014 70.614 49.37 84.374 44.117 85.542 31.5 82.288 18.586 71.954 4.552zM26.49 37.3c-3.22 0-5.86-2.95-5.86-6.57 0-3.62 2.6-6.57 5.86-6.57 3.26 0 5.9 2.95 5.86 6.57 0 3.62-2.6 6.57-5.86 6.57zm18.96 0c-3.22 0-5.86-2.95-5.86-6.57 0-3.62 2.6-6.57 5.86-6.57 3.26 0 5.9 2.95 5.86 6.57 0 3.62-2.6 6.57-5.86 6.57z"/>
</svg>
